

/* media query bro */
@media (max-width: 600px){
    html,body{
        width: 100%;
        height: 100%;
        padding: 0px;
        margin: 0px;
        overflow-x: hidden;
    }

    .perpetual{
        width: 220px;
        height: 60px;
    }

    .toggle-button{
        display: flex;
    }
    #menustate{
        display: flex;
        overflow: hidden;
        opacity: 0;
        z-index: 1;
    }
    .navbar-links ul{
       display: none;
       flex-direction: column;
       align-items: center;
       width: 100%;
    }

    #menustate:checked ~ nav :is(ul,.navbar-links){
        display: flex;
    }

    .navbar-links li{
       text-align: center;
    }

    .navbar-links li a{
       display: flex;
       left: -100;
       text-align: center;
       padding: .5rem 1rem;
    }

    .navbar{
        flex-direction: column;
    }

    .navbar-links li a:hover{
        background: #FCCF3B;
        color: #710B03;
    }

    .section1{
        height: 300px;       
    }

    .section4{
        position: relative;
    }


    .seal{
        position: relative;
        display: flex;
        align-items: center;
        left: 80px;
        font-size: 40px;
        text-align: center;
    }
    .perps-descrip{
        font-size: 15px;
        position: relative;
        top: 10px;
        width: 400px;
        height: 10000;
    }
    .molino-logo{
        position: relative;
        top: 25px;
    }

    .footbar{
        position: relative;
        top: 600px;
        height: 250px;
    }
    .ccs-logo{
        height: 100px;
        width: 175px;
    }
    .icons{
        width: 30%;
        position: relative;
        left: 35px;
    }
    .fb{
        width: 30px;
        height: 30px;
    }
    .yt{
        width: 40px;
        height: 35px;
    }
    .trunkline,.address{
        font-size: 10px;
    }

    .gforms{
        width: 200px;
        height: 50px;
    }
    #gforms{
        font-size: 20px;
    }
    .facilities{
        position: relative;
        left: 2px;
        font-size: 40px;
    }
    .section2{
        height: 75px;
    }

    .section2 h1{
        position: relative;
        left: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
    }
    .departments{
        width: 365px;
        flex-direction: column;
        text-align: center;
    }
    .departments h2{
        font-size: 20px;
    }

}