

@media (max-width: 800px){
    html,body{
        width: 100%;
        height: 100%;
        padding: 0px;
        margin: 0px;
        overflow-x: hidden;
    }
    .toggle-button{
        display: flex;
    }
    #menustate{
        display: flex;
        overflow: hidden;
        opacity: 0;
        z-index: 1;
    }
    .navbar-links ul{
       display: none;
       flex-direction: column;
       align-items: center;
       width: 100%;
    }

    #menustate:checked ~ nav :is(ul,.navbar-links){
        display: flex;
    }

    .navbar-links li{
       text-align: center;
    }

    .navbar-links li a{
       display: flex;
       left: -100;
       text-align: center;
       padding: .5rem 1rem;
    }

    .navbar{
        flex-direction: column;
    }

    .navbar-links li a:hover{
        background: #FCCF3B;
        color: #710B03;
    }

    .section0{
        height: 250px;       
    }

    .facilities{
        position: relative;
        left: 8%;
        font-size: 33px;
    }
    .perpetual{
        width: 220px;
        height: 60px;
    }

    .section1{
        height: 400px;
        
    }
    
    .mac-header{
        font-size: 35px;
        line-height: 30px;
        color:#9e1005;
        font-family: 'Poppins', sans-serif;
        font-weight:600;
        text-align: center;
    }
    
    .mac-pics{
        position: relative;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .second-row{
        position: relative;
        top: 10px;
    }
    
    .mac1{
        position: relative;
        width:  175px;
        height: 100px;
    }
    
    .mac2{
        position: relative;
        width:  175px;
        height: 100px;
    }
    .mac3{
        position: relative;
        width:  125px;
        height: 115px;
    }
    .mac4{
        position: relative;
        width:  225px;
        height: 115px;
    }



    .section2{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color:#9e1005;
        color:white;
        height: 400px;
        width: 100%;
    }
    
    .iot-header{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        font-size: 30px;
        line-height: 35px;
        color:white;
        font-family: 'Poppins', sans-serif;
        font-weight:600;
        text-align: center;
    }
    
    
    .iot-pics{
        position: relative;
    }
    
    .second-row2{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        top: 10px;
    }

    .first-row2{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 95%;
    }
    
    .iot-pics{
        position: relative;
        top: 5px;
    }
    
    .iot1{
        position: relative;
        width:  155px;
        height: 75px;
    }
    
    .iot2{
        position: relative;
        width:  100px;
        height: 75px;
    }
    .iot3{
        position: relative;
        width:  100px;
        height: 75px;
    }
    .iot4{
        position: relative;
        width:  200px;
        height: 100px;
    }
    .iot5{
        position: relative;
        width:  200px;
        height: 100px;
    } 


    .section3{
        height: 5px;
    }

    .comp-lab{
        position: relative;
        top: 150px;
    }
    .comp-header{
        font-size: 35px;
        line-height: 35px;
        color:#9e1005;
        font-family: 'Poppins', sans-serif;
        font-weight:600;
        text-align: center;
    }


    .comp-pics{
        position: relative;
        left: 2%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .second-row3{
        position: relative;
        top: 10px;
    }

    .comp-pics{
        position: relative;
        top: 5px;
    }

    .comp1{
        position: relative;
        width:  175px;
        height: 75px;
    }

    .comp2{
        position: relative;
        width:  175px;
        height: 75px;
    }

    .comp4{
        position: relative;
        left: 1%;
        width:  175px;
        height: 100px;
    }
    .comp5{
        position: relative;
        left: 1%;
        width:  175px;
        height: 100px;
    } 

    
    .footbar{
        position: relative;
        top: 600px;
        height: 250px;
    }
    .ccs-logo{
        height: 100px;
        width: 175px;
    }
    .icons{
        width: 30%;
        position: relative;
        left: 35px;
    }
    .fb{
        width: 30px;
        height: 30px;
    }
    .yt{
        width: 40px;
        height: 35px;
    }
    .trunkline,.address{
        font-size: 10px;
    }


}